<div class="container d-flex mt-4">
<h4>Hi, <%= current_user.name %> these are your recent reservations</h4>

</div>


<div class="container">
  <% @bookings.each_with_index do |booking, index| %>
    <div class="row container-card">
      <div class="col-sm-3 py-3 ">
      <div class="container d-flex justify-content-center align-items-center">
          <%= cl_image_tag booking.car.photos.first.key, default_image: "placeholder_yne9j2", height: 250, width: 250, crop: :fill %>
      </div>
      </div>
      <div class="col-sm-6 border p-4 justify-content-center align-items-center">
      <div class="container-detail">
        <div class="container">
        <h2><%= booking.car.brand %> - <%= booking.car.model %></h2>
        </div>
        <div class="container">
        <p>Fecha de Alquiler: - <%= booking.start_date %> - <%= booking.end_date %> </p>
        </div>
        <div class="container">
        <p>Color: <%= booking.car.color %> - <%= booking.car.car_type %></p>
        </div>
      </div>
      </div>
      <div class="col-sm-3 p-3 justify-content-center align-items-center">
      <div class="container-price">
        <div class="container m-4 justify-content-center align-items-center">
        <p> <strong> Dias de Alquiler : </strong> <%= costoTotal = ((booking.end_date).to_date - (booking.start_date).to_date).to_i %></p>
        <p><strong> Costo Total : </strong>S/<%= (costoTotal) + (booking.car.price).to_i + 10 %></p>
        </div>
      </div>
      </div>
    </div>
  <% end %>
</div>
