<div class="container">
  <% @cars.each do |car| %>
    <div class="row container-card my-4 d-flex justify-content-center align-items-center">

      <div class="col-sm-3 py-3 ">
        <div class="container d-flex justify-content-center align-items-center">
            <%= cl_image_tag car.photos.first.key, default_image: "placeholder_yne9j2", height: 250, width: 250, crop: :fill %>
        </div>
      </div>

      <div class="col-sm-6 p-4 justify-content-center align-items-center">
        <div class="container-detail">
          <div class="container">
          <h2><%= car.brand %> - <%= car.model %></h2>
          </div>
          <div class="container">
          <p>Year: <%= car.year %> - Plate: <%= car.plate %> </p>
          </div>
          <div class="container">
          <p>Color: <%= car.color %></p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 p-3 justify-content-center align-items-center">
        <div class="container-price">
          <div class="container ">
          <p id = "price"><strong>S/<%= car.price %></strong></p>
          <p>Total Price</p>
            <%= link_to "Show", car_path(car), class:"btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
