<div class="container mt-3">
  <div class="row">
    <div class="col-xs-12 col-md-9">
        <div class="card-product">
        <div class="card-carousel">
        <%= render "cars/components/carousel" %>
        </div>
        <div class="card-product-infos">
          <h2> <%= @car.model%> <%= @car.brand%> </h2> <%# cars.model cars.year %>
          <div class="container">
            <div class="row">
              <div class="col">Color  : <%= @car.color%> </div>
              <div class="col"> Año : <%= @car.year%> </div>
            </div>
            <div class="row">
              <div class="col">Placa : <%=@car.plate%> </div>
              <div class="col">Ubicación : San Isidro</div>
            </div>
          </div>
        </div>
      </div>

    <div class="review card mt-3">
      <h3>Calificaciones</h3>
      <div class="row">
        <div class="col">
          <p>Tiempo de entrega</p>
          <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
          </div>
        </div>
        <div class="col">
          <p>Tiempo de entrega</p>
          <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Tiempo de entrega</p>
          <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
          </div>
        </div>
        <div class="col">
          <p>Tiempo de entrega</p>
          <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Tiempo de entrega</p>
          <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
          </div>
        </div>
        <div class="col">
          <p>Tiempo de entrega</p>
          <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
        </div>
      </div>
    </div>

    </div>

<div class="container">

<%= simple_form_for [current_user, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.hidden_field :car_id, :value => @car.id %>
  <%= f.submit %>
<% end %>

</div>


    </div>

    <script>
    let PrecioTotal = document.getElementById("PrecioTotal")
    // PrecioTotal.innerHTML = "hola";
    // document.addEventListener("click",CalcularDias)
    const input_fechas  = document.querySelectorAll('.datepicker')
    input_fechas.forEach((input) => {
      input.addEventListener("change", (event) => {
        let inicio = new Date(document.getElementById("FechaInicio").value)
    let fin = new Date(document.getElementById("FechaFin").value)
    let dif = (fin-inicio)/1000/60/60/24;

    PrecioTotal.innerHTML = 10 + dif * <%= @car.price%>
    // cuando dif es diferetne de naN multiplicas y muestras en pantalla

   console.log(inicio)
   console.log(fin)
   console.log(dif)
      })
    })

    </script>

  </div>

</div>
