<div class="container mt-3">
  <div class="row">
    <div class="col-xs-12 col-md-9">
        <div class="card-product">
        <div class="card-carousel">
        <%= render "cars/components/carousel" %>
        </div>
        <div class="card-product-infos">
          <h2> <%= @car.model%> <%= @car.brand%> </h2> <%# cars.model cars.year %>
          <div class="container">
            <div class="row">
              <div class="col">Color : <%= @car.color%> </div>
              <div class="col"> Año : <%= @car.year%> </div>
            </div>
            <div class="row">
              <div class="col">Placa : <%=@car.plate%> </div>
              <div class="col">Ubicación : San Isidro</div>
            </div>
          </div>
        </div>
      </div>

    <div class="review card mt-3">
      <h3>Calificaciones</h3>
      <div class="row">
        <div class="col">
          <p>Tiempo de entrega</p>
          <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
          </div>
        </div>
        <div class="col">
          <p>Tiempo de entrega</p>
          <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Tiempo de entrega</p>
          <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
          </div>
        </div>
        <div class="col">
          <p>Tiempo de entrega</p>
          <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Tiempo de entrega</p>
          <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
          </div>
        </div>
        <div class="col">
          <p>Tiempo de entrega</p>
          <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
        </div>
      </div>
    </div>

    </div>
    <div class="col-xs-12 col-md-3" >
      <div class="card date mb-3">
       <h5>Ingrese la fecha de la reserva</h5>
       <p>Inicio</p>
       <input placeholder="Selected date" id="FechaInicio" type="date" id="date-picker-example" class="form-control datepicker">
       <p>Fin</p>
       <input placeholder="Selected date" id="FechaFin" type="date" id="date-picker-example" class="form-control datepicker">
      </div>
      <div class="card-price card">
        <h5>Desglose del precio del coche</h5>
        <div class="row">
          <div class="col">Precio diario del alquiler</div>
          <div class="col" id="Pricecar"> USD <%= @car.price%> </div>
        </div>
        <div class="row">
          <div class="col">Entrega a domicilio</div>
          <div class="col">USD 10.00</div>
        </div>
        <div class="row pricetotal">
          <div class="col">Precio Final</div>
          <div class="col" id="PrecioTotal">USD</div>
        </div>

      </div>
    </div>
    <script>
    let inicio = new Date(document.getElementById("FechaInicio"))
    let fin = new Date(document.getElementById("FechaFin"))
    let dif = (fin-incio)/1000/60/60/24;
    let PrecioTotal = document.getElementById("PrecioTotal")
    PrecioTotal.innerHTML = "hola";
    document.addEventListener("click",CalcularDias)

    </script>

  </div>
  <%= link_to "Book now", "#", class: "btn btn-flat mt-4 " %>


</div>
